/*      Grid Layout     */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    column-gap: 15px;
    row-gap: 25px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 200px;
    height: 200px;
    justify-self: center;
}